name: Dataspace CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        python-version: [3.12, 3.13]

    steps:
    - uses: actions/checkout@v4
    - name: Step Up Python Version ${{ matrix.python-version }}
      uses: actions/setup-python@v5 #Installs the requested python version
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install Dependencies
      run: pip install -r requirements.txt
      working-directory: backend

    - name: Confirm Build Running
      run: python -c "from main import app" #Load the main.py file and get the name app. (If any import fails then the build will fail.)
      working-directory: backend

  frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Step Up Node Version
      uses: actions/setup-node@v4
      with:
        node-version: 23
        cache: "npm"
        cache-dependency-path: frontend/package-lock.json
    
    - name: Install Dependencies
      run: npm ci
      working-directory: frontend

    - name: Build Frontend
      run: npm run build
      working-directory: frontend

  




